DATABASE_URL = postgresql://<username>:<password>@localhost:5432/multi-tennant?schema=public
NODE_ENV = development
PORT = 5000
JWT_ACCESS_SECRET = ir5239487192383djaosi9r2349812312yq8w9ed

# SMTP / email (used by MailService for invitation emails)
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 465
# SMTP_PORT = 587
SMTP_SECURE = true
SMTP_USER = <your_email>
SMTP_PASS = <password>
MAIL_FROM = "Taskforge <no-reply@<your_app_email>.app>"
APP_URL = http://localhost:3000


# Cloudinray Secret
CLOUDINARY_CLOUD_NAME = <cloud_name>
CLOUDINARY_API_KEY = <api_key>
CLOUDINARY_API_SECRET = <api_secret>
